.HeaderApp {
  display: flex;
}

.HeaderApp > img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
}

.HeaderApp > div {
  flex-grow: 1;
  margin-inline-start: 1rem;
}

.HeaderApp > div > h1 {
  font-size: 2rem;
  margin: 0;
}

.anti {
  background: #eb0;
  color: black;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.antiImage {
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.antiHeader {
  font-size: 2rem;
}

.appPage {
  background-color: black;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.appPage > * {
  margin: 1rem;
}

.background {
  background: var(--theme-back-1);
  min-height: calc(100vh - 2rem);
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: #0ff;
}

.link:hover {
  color: #f0f;
}