.HeaderApp {
  display: flex;
}

.HeaderApp > img {
  width: 7rem;
  height: 7rem;
}

.HeaderApp > div {
  flex-grow: 1;
  margin-inline-start: 1rem;
}

.HeaderApp > div > h1 {
  font-size: 2rem;
  margin: 0;
}