.item {
  display: inline-block;
  background: black;
  border-radius: 5px;
  width: 8rem;
  height: 10rem;
  margin-inline-end: 20px;
}

.image {
  margin: 0.5rem 2rem;
  width: 4rem;
  height: 4rem;
}

.label {
  margin: 0 0.5rem;
  color: white;
  text-align: center;
}
