.item {
  display: inline-block;
  background: black;
  border-radius: 5px;
  width: 8rem;
  height: 10rem;
  margin-inline-end: 20px;
  word-wrap: break-word;
}

.image {
  margin: 0.5rem 2rem;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 .3rem .3rem #0ff;
  background: #0ff;
}

.danger {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -4.5rem;
  inset-inline-start: -0.5rem;
  float: inline-end;
}

.label {
  margin: 0 0.5rem;
  color: white;
  text-align: center;
}
