.navbar {
  background: var(--navbar-back);
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: 2rem;
  padding: .5rem 1rem;
  display: flex;
}

.navbarPlace {
  height: 3rem;
}

.navbarButton {
  flex-grow: 1;
  text-align: center;
  color: #bbb;
  text-decoration: none;
}

.navbarButtonEnable {
  color: #fff;
}
